/* pokemonCard */
* {
  text-transform: capitalize;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vh;
  width: vw;
  background-color: #deeded;
  font-family: Arial, sans-serif;
}
.inner-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-div {
  display: inline-block;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 280px;
  margin: 15px;
  border: 2px dashed #3e3c3c;
  border-radius: 10px;
}

.pokemon-image {
  width: 140px;
  height: 180px;
}

.pokemon-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.pokemon-number {
  margin-top: 5px;
  font-size: 25px;
  color: #666;
}

/* Navbar */

.pokedex-container {
  background-color:#deeded;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 95vw;
}

.header {
  display: flex;
  margin: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #2d3e50;
}

.header p {
  margin: 0;
  color: #627d98;
}

.search-container {
  display: inline-block;
  align-items: start;
  width: 40%;
  padding-left: 0%;
}

.search-input {
  width: 550px;
  background-color: #c9dde2;
  height: 25px;
  padding: 10px;
  border: 1px solid #c9dde2;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 5px;
  background-color: #c9dde2;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-gender {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter label {
  margin-bottom: 5px;
  color: #627d98;
}

.filter select {
  padding: 10px;
  border: 1px solid #cfd8e3;
  border-radius: 4px;
  outline: none;
  background-color: #c9dde2;
}

/* pagination */
.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* pokemon-modal */

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(33, 29, 69, 0.9);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
}
.modal-text {
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  height: auto;
  width: 90%;
  background-color: #141c3d;
  color: white;
}
/* pokemon-modal card css */
.model-card {
  display: flex;
}

.header-inside,
h1 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #666;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e0f7fa;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header .number {
  font-size: 24px;
  color: #999;
}

.pokemon-detail {
  padding: 0px 10px 0px 10px;
  line-height: 25px;
}
.description {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.description img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.description p {
  font-size: 14px;
  color: #555;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.types {
  justify-content: space-between;
  padding: 10px;
}

.type-btn {
  background-color: #f1cce3;
  border-radius: 2px;
  border: 1px solid  #ca94b5;
  height: 25px;
}

.details .info,
.details .types {
  width: 45%;
}

.details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.read-more {
  text-decoration: underline;
  cursor: pointer;
}

.close-btn1 {
  background-color: #141c3d;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 2px;
  right: 2px;
  z-index: 1000;
  border-radius: 50%;
}

#pokemonDescription {
  padding: 10px;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: RGB(176, 210, 210);
  border-radius: 4px;
  padding: 5px;
}

.stats p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stat span {
  width: 100px;
  font-size: 14px;
  color: #333;
}

.bar {
  flex: 1;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 10px;
}

.progress {
  height: 10px;
  background-color: #76c7c0;
}

.evolution-chain {
  text-align: center;
}

.close-btn {
  border: 1px solid #5b6465 ;
  margin: 2px;
  border-radius: 50%;
  background-color: #e0f7fa;
  size: 20px;
  cursor: pointer;
}

.next-modal{
  display: flex;
  justify-content: center;
}

.evolution-chain h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.evolution {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evo-stage {
  text-align: center;
  margin: 0 10px;
}

.evo-stage img {
  width: 100px;
  height: auto;
}

.evo-stage p {
  margin: 5px 0;
  font-size: 14px;
}

.evo-stage span {
  font-size: 12px;
  color: #999;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #111010;
  border-radius: 4px;
  background-color: #e0f7fa;
}

/* progress bar */
.progressBar {
  width: 80%;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
}

.progress {
  height: 15px;
  background-color: RGB(46, 49, 86);
  display: flex;
  padding: 2px;
  font-size: small;
  color: white;
  transition: width 0.3s ease-in-out;
}
