
/* pokemonCard */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vh;
  width: vw;
  background-color: #f0f9fa;
  font-family: Arial, sans-serif;
}
.inner-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 220px;
  margin: 10px;
  padding: 10px;
  border: 3px dashed #aca6a6;
  border-radius: 10px;
  background: linear-gradient(to bottom, #e0f7fa, #e1bee7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  width: 140px;
  height: 180px;
}

.pokemon-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.pokemon-number {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

/* Navbar */


.pokedex-container {
  background-color: #f0f9fa;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:vw;
}

.header {
  display: flex;
  margin: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #2d3e50;
}

.header p {
  margin: 0;
  color: #627d98;
}

.search-container {
  display: flex;
  align-items: start;
  width: 40%;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #cfd8e3;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 10px;
  background-color: #cfd8e3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.filters {
  display: flex;
  justify-content: space-around;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter label {
  margin-bottom: 5px;
  color: #627d98;
}

.filter select {
  padding: 10px;
  border: 1px solid #cfd8e3;
  border-radius: 4px;
  outline: none;
}


/* pagination */
.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* pokemon-modal */

.modal-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 0.5rem;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
}

/* pokemon-modal card css */
.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width:100%;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header .number {
  font-size: 24px;
  color: #999;
}

.description {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.description img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.description p {
  font-size: 14px;
  color: #555;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.details .info, .details .types {
  width: 45%;
}

.details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.stats {
  margin-bottom: 20px;
}

.stats p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stat span {
  width: 100px;
  font-size: 14px;
  color: #333;
}

.bar {
  flex: 1;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 10px;
}

.progress {
  height: 10px;
  background-color: #76c7c0;
}

.evolution-chain {
  text-align: center;
}

.close-btn{
  position: fixed;
  top: 2px;     
  right: 2px;
  z-index: 1000;
  border-radius: 50%;
}

.evolution-chain h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.evolution {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evo-stage {
  text-align: center;
  margin: 0 10px;
}

.evo-stage img {
  width: 100px;
  height: auto;
}

.evo-stage p {
  margin: 5px 0;
  font-size: 14px;
}

.evo-stage span {
  font-size: 12px;
  color: #999;
}


