
/* pokemonCard */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vh;
  width: vw;
  background-color: #f0f9fa;
  font-family: Arial, sans-serif;
}
.inner-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 220px;
  margin: 10px;
  padding: 10px;
  border: 3px dashed #aca6a6;
  border-radius: 10px;
  background: linear-gradient(to bottom, #e0f7fa, #e1bee7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  width: 140px;
  height: 180px;
}

.pokemon-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.pokemon-number {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

/* Navbar */


.pokedex-container {
  background-color: #f0f9fa;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:vw;
}

.header {
  display: flex;
  margin: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #2d3e50;
}

.header p {
  margin: 0;
  color: #627d98;
}

.search-container {
  display: flex;
  align-items: start;
  width: 40%;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #cfd8e3;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 10px;
  background-color: #cfd8e3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.filters {
  display: flex;
  justify-content: space-around;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter label {
  margin-bottom: 5px;
  color: #627d98;
}

.filter select {
  padding: 10px;
  border: 1px solid #cfd8e3;
  border-radius: 4px;
  outline: none;
}


/* pagination */
.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
