.pokedexContainer{
    position: relative;
    padding: 20px;
}

.title{
    display: flex;
    justify-self: 2px;
}

.titlepara{
    position: absolute;
    top: 42px;
    left: 180px;
}

.searchContent{
    display: flex;
}

.input{
    position: relative;
    height: 42px;
    width: 40vw;
    padding: 5px;
    margin-top: 5px;
    background-color: #c9dde2;
    border: 2px solid #c9dde9;
    border-radius: 5px;
}

.searchBtn{
    height: 55px;
    margin-top: 5px;
    background-color: #c9dde2;
    border: 2px solid #c9dde9;
    border-radius: 5px;
}

.filds{
    display: flex;
}

.filterContent{
    display: flex;
}

.typeContent{
    margin-left: 100px;
    margin-top: 5px;
}
.genderContent{
    margin-left: 85px;
    margin-top: 5px;
}