.modalWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(33, 29, 69, 0.9);
  }

.modalContainer {
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    height: auto;
    max-width: 100%;
    max-height: 100px;
    background-color: #fff;
  }

  .container {
    background-color: #ffffff;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    height: 750px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e0f7fa;
    overflow: scroll;
    scrollbar-color: #e0f7fa #879a9c;
    overflow-x: hidden;
    scrollbar-width: none;
    border: 5px solid rgb(143, 89, 154);
  }

  .closeBtn {
    border: 1px solid #5b6465;
    margin: 2px;
    border-radius: 50%;
    background-color: #e0f7fa;
    size: 20px;
    cursor: pointer;
  }

  .modelCard {
    display: flex;
  }

  .pokemonDetail {
    padding: 0px 10px 0px 10px;
    line-height: 25px;
  }

  .modalText {
    position: relative;
    padding: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    height: auto;
    width: 90%;
    background-color: #141c3d;
    color: white;
  }

  .closeBtn1 {
    background-color: #141c3d;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 2px;
    right: 2px;
    z-index: 1000;
    border-radius: 50%;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
  }

  .typeBtn {
    background-color: #f1cce3;
    border-radius: 2px;
    border: 1px solid #ca94b5;
    height: 25px;
  }

  .types {
    justify-content: space-between;
    padding: 10px;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: RGB(176, 210, 210);
    border-radius: 4px;
    padding: 5px;
  }

  .evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
  }

  
  @media (max-width: 600px ){
    .closeBtn{
      transform: scale(0.5);
    }
    .btnDiv{
      height: 10px;
    }
    .pokemonDetail {
      padding: 0px 10px 0px 10px;
      line-height: 25px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      line-clamp: 9;
      -webkit-box-orient: vertical;
    }
    .info {
      display: grid;
      padding: 0%;
      grid-template-columns: repeat(2, 1fr);
      margin: 20px;
    }
    .stats {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      background-color: RGB(176, 210, 210);
      border-radius: 4px;
      padding: 5px;
    }
    .modalText {
      position: relative;
      padding: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0.5rem;
      height: auto;
      width: 90%;
      background-color: #141c3d;
      color: white;
    }
    .container {
      background-color: #ffffff;
      margin-top: 0px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 100%;
      height: 750px;
      padding: 20px;
      box-sizing: border-box;
      background-color: #e0f7fa;
      overflow: scroll;
      scrollbar-color: #e0f7fa #879a9c;
      overflow-x: hidden;
      scrollbar-width: none;
      border: 5px solid rgb(143, 89, 154);
    }
  
  
  }
  